@keyframes focusScale {
  from {
    transform: scale3d(0.97, 0.97, 1);
    transform-origin:center center;
  }
  to {
    transform: scale3d(1, 1, 1);
    transform-origin:center center;
  }
}

@keyframes blurScale {
  from {
    transform: scale3d(1.03, 1.03, 1);
    transform-origin:center center;
  }
  to {
    transform: scale3d(1, 1, 1);
    transform-origin:center center;
  }
}

@keyframes menuShow {
  from {
    transform: scale3d(0.97, 0.97, 1);
    transform-origin:center center;
  }
  to {
    transform: scale3d(1, 1, 1);
    transform-origin:center center;
  }
}

@keyframes menuHiden {
  from {
    transform: scale3d(1.03, 1.03, 1);
    transform-origin:center center;
  }
  to {
    transform: scale3d(1, 1, 1);
    transform-origin:center center;
  }
}
