@keyframes swing-hammer {
    0% {
        transform: rotate3d(0,0,1,10deg);
        transform-origin: bottom right;
    }

    30% {
        transform: rotate3d(0,0,1,-28deg);
        transform-origin: bottom right;
    }

    100% {
        transform: rotate3d(0,0,1,0deg);
        transform-origin: bottom right;
    }
}

@keyframes crack-clip{
    from {
        transform: translate3d(0, -252px, 0)
    }
    to {
        transform: translate3d(0, 0, 0)
    }
}

@keyframes crack-img{
    from {
        transform: translate3d(0, 252px, 0)
    }
    to {
        transform: translate3d(0, 0, 0)
    }
}

@keyframes recovery-clip{
    0% {
        transform: translate3d(0, 90px, 0);
    }

    100% {
        transform: translate3d(0, 0px, 0)
    }
}

@keyframes recovery-img{
    0% {
        transform: translate3d(0, -90px, 0);
    }

    100% {
        transform: translate3d(0, 0px, 0)
    }
}
@keyframes recovery-light{
    from {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    to {
        transform: rotate3d(0, 0, 1, -360deg);
    }
}
@keyframes recovery-line{
    0% {
        transform: translate3d(0, 90px, 0) scale3d(0.92,0.92,1);
        transform-origin: center center
    }
    20% {
        transform: translate3d(0, 70px, 0) scale3d(0.858,0.858,1);
        transform-origin: center center
    }
    40% {
        transform: translate3d(0, 50px, 0) scale3d(0.759,0.759,1);
        transform-origin: center center
    }
    60% {
        transform: translate3d(0, 30px, 0) scale3d(0.617,0.617,1);
        transform-origin: center center
    }
    80% {
        transform: translate3d(0, 10px, 0) scale3d(0.424, 0.424,1);
        transform-origin: center center
    }
    100% {
        transform: translate3d(0, 0px, 0) scale3d(0,0,1);
        transform-origin: center center
    }
}