*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
qcode-keystore

# android studio build tmp files
.cxx/
.build-cache/
proguardMapping.txt

# JsView engine debug folder
jsview_inner_command/
