<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qcode.jsview.sample">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:logo="@drawable/icon"
        android:usesCleartextTraffic="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:label="${LABEL_NAME}">

        <activity android:name=".SingleActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/SplashThemeType0"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="qcode.app.action.start_jsviewdemo"/>
            </intent-filter>
        </activity>

        <activity android:name=".subactivities.SubActivity0"
            android:screenOrientation="landscape"
            android:theme="@style/SplashThemeType0"
            android:hardwareAccelerated="true">
        </activity>

        <activity android:name=".subactivities.SubActivity1"
            android:screenOrientation="landscape"
            android:theme="@style/SplashThemeType0"
            android:hardwareAccelerated="true"
            android:process=":sub1">
        </activity>
        <activity android:name=".subactivities.SubActivity2"
            android:screenOrientation="landscape"
            android:theme="@style/SplashThemeType0"
            android:hardwareAccelerated="true"
            android:process=":sub2">
        </activity>
        <activity android:name=".subactivities.SubActivity3"
            android:screenOrientation="landscape"
            android:theme="@style/SplashThemeType0"
            android:hardwareAccelerated="true"
            android:process=":sub3">
        </activity>
        <activity android:name=".subactivities.SubActivity4"
            android:screenOrientation="landscape"
            android:theme="@style/SplashThemeType0"
            android:hardwareAccelerated="true"
            android:process=":sub4">
        </activity>
        <activity android:name=".subactivities.SubActivity5"
            android:screenOrientation="landscape"
            android:theme="@style/SplashThemeType0"
            android:hardwareAccelerated="true"
            android:process=":sub5">
        </activity>
        <provider
            android:name=".submodule.SharedDataProvider"
            android:authorities="com.qcode.jsview.sp.SharedDataProvider"
            android:exported="true" />
    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>