@keyframes swing-mickey {
    0% {
        transform: rotate3d(0,0,1,0deg);
        transform-origin: center bottom;
    }

    25% {
        transform: rotate3d(0,0,1,20deg);
        transform-origin: center bottom;
    }

    75% {
        transform: rotate3d(0,0,1,-20deg);
        transform-origin: center bottom;
    }

    100% {
        transform: rotate3d(0,0,1,0deg);
        transform-origin: center bottom;
    }
}