*{
  margin:0px;
}
div{
  position: absolute;
  background-size: 100% 100%;
  white-space: pre-wrap;
  pointer-events: none;
}

video {
  position: absolute;
  background-size: 100% 100%;
}

img{
  position: absolute;
  pointer-events: none;
}


