@keyframes scoreUp {
  from {
    transform: translate3d(0, 120px, 0);
  }
  to {
    transform: translate3d(0, 20px, 0);
  }
}
@keyframes rainDown {
  from {
    transform: translate3d(0, -680px, 0);
  }
  to {
    transform: translate3d(0, 0px, 0);
  }
}

