@keyframes focusScale {
    from {
      transform: scale3d(0.9523, 0.9523, 1);
    }
    to {
      transform: scale3d(1, 1, 1);
    }
}

@keyframes blurScale {
    from {
      transform: scale3d(1.05, 1.05, 1);
    }
    to {
      transform: scale3d(1, 1, 1);
    }
}