@keyframes focusScale {
  from {
    transform: scale3d(0.9, 0.9, 1);
    transform-origin:center center;
  }
  to {
    transform: scale3d(1, 1, 1);
    transform-origin:center center;
  }
}

@keyframes blurScale {
  from {
    transform: scale3d(1.11, 1.11, 1);
    transform-origin:center center;
  }
  to {
    transform: scale3d(1, 1, 1);
    transform-origin:center center;
  }
}